#c1{
    background-color: aliceblue;
    text-align: center;

}
#c2{
    background-color: aqua;
    text-align: center;
}
#c3{
    background-color:bisque;
    text-align: center;
}
#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    position: fixed;
    background-color: #fff;
}

#loading-animation {
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      margin: -100px 0 0 -100px;
      background: url('IMG/preload.gif') center center no-repeat;
}
